{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><i class='bx bxs-pencil bx-spin' style='color:#a669ce' ></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class='bx bx-menu' style='color:#a669ce' ></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Porfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
            </div>
          </nav>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-box">
                        <h1>Create your own website</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus amet tempore animi dolorum vitae, omnis itaque suscipit, quo, nihil nesciunt tempora. Quidem laborum aliquid a animi voluptatibus cumque, dolore ipsam.</p>
                        <a href="#" class="btn-One">Read More</a>
                        <a href="#" class="btn-Two">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'home-img.png' %}" class="feature-img">
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wave-svg">
        <path fill="#a669ce" fill-opacity="1" d="M0,64L60,96C120,128,240,192,360,234.7C480,277,600,299,720,293.3C840,288,960,256,1080,213.3C1200,171,1320,117,1380,90.7L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
{% endblock %}