.chats {
    overflow-y: scroll;
    position: relative;
    justify-content: center;
}

.list {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.otra-persona {
    word-wrap: break-word;
    width: 50%;
    background-color: #566573;
    padding: 7px 10px;
    border-radius: 10px;
    margin: 0px auto 5px 5px;
    color: white;
}

.mi-persona {
    word-wrap: break-word;
    width: 50%;
    background-color:#653482;
    padding: 7px 10px;
    border-radius: 10px;
    margin: 5px 0px 5px auto;
    color: white;
}

.header_chat {
    padding: 10px;
}

small {
    color:white;
}