{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block title %}
    Foro
{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-5">
                <div class="card" style="width: 28rem;">
                    <div class="card-header">
                        <h5>Califica a {{estudiante.first_name}} {{estudiante.last_name}}</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'calificarForo' foro.id estudiante.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input required type="decimal" name="nota_estudiante" class="form-control" placeholder="Calificacion del estudiante" autocomplete="off" min="0">
                            <button type="submit" class="btn btn-success mt-2">Guardar nota</button>
                        </form>
                        {% if notaForo.nota %}
                            <p>Estudiante ya calificado con calificación de: {{notaForo.nota}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}