{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block title %}
    PortAll50
{% endblock %}

{% block css %}
    
{% endblock %}

{% block dropdown %}
    
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">

            <div class="col-lg-8">

                <div class="card">
                
                    {% for seccion in curso.seccion_curso.all %}
                        <div class="card-body">
                            <h4 class="card-title text-center">{{seccion.nombre}}</h4>
                            
                            {% if seccion.seccion_material.all %}
                                <h5>Material</h5>
                                <ul class="list-group">
                                    {% for material in seccion.seccion_material.all %}
                                        <li class="list-group-item"><a target="_blank" href="{{material.archivo.url}}"><i class="far fa-file-alt"></i> {{material.nombre_material}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if seccion.seccion_url.all %}
                                <h5>Enlaces</h5>
                                <ul class="list-group">
                                    {% for enlace in seccion.seccion_url.all %}
                                        <li class="list-group-item"><a target="_blank" href="{{enlace.url}}"><i class="fas fa-link"></i> {{enlace.nombre_enlace}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if seccion.seccion_entregable.all %}
                            <h5>Entregables</h5>
                                <ul class="list-group">
                                    {% for entregable in seccion.seccion_entregable.all %}
                                        <li class="list-group-item"><a href="{% url 'entregable' entregable.id %}"><i class="fas fa-file-import"></i> {{entregable.nombre_entregable}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            
                            {% if seccion.seccion_foro.all %}
                                <h5>Foros</h5>
                                <ul class="list-group">
                                    {% for foro in seccion.seccion_foro.all %}
                                        <li class="list-group-item"><a href="{% url 'foro' foro.id %}"><i class="far fa-comment-alt"></i> {{foro.nombre_foro}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            
                        </div>
                    {% endfor %}
                </div>
                
            </div>

            <div class="col-lg-4">
                {% if user.info_cuenta.tipo == "2" %}
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Curso: {{curso.nombre_curso}}</div>
                        <div class="card-body">
                            <h5 class="card-title">Estudiantes del curso</h5>
                            {% for participante in curso.cuentas.all %}
                                <p class="card-text">{{participante.first_name}} {{participante.last_name}}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#agregarSeccion">
                            Agregar una seccion
                        </button>
                        <!-- MODAL AGREGAR SECCION -->
                        <form method="POST" action="{% url 'agregarSeccion' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                                
                            <div class="modal fade" id="agregarSeccion" tabindex="-1" aria-labelledby="agregarSeccion" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center" id="agregarSeccion">
                                                Agregar un seccion
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input required type="text" name="nombre_seccion" class="form-control" placeholder="Nombre de la seccion" autocomplete="off">
                                            </div>
                                            <input name='curso_id' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                            value="{{curso.id}}" readonly placeholder="Default input">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>

                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#enlace">
                            Agregar un enlace
                        </button>
                        <!-- MODAL AGREGAR MATERIAL -->
                        <form method="POST" action="{% url 'agregarEnlace' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                                
                            <div class="modal fade" id="enlace" tabindex="-1" aria-labelledby="enlaceLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center" id="enlaceLabel">
                                                Agregar un enlace
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input required type="text" name="nombre_enlace" class="form-control" placeholder="Nombre del enlace" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <input required type="text" name="url" class="form-control" placeholder="url o enlace" autocomplete="off">
                                            </div>
                                            <select name="seccion_id" >
                                                {% for seccion in curso.seccion_curso.all %}
                                                    <option value="{{seccion.pk}}">{{seccion.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                            <input name='curso_id' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                            value="{{curso.id}}" readonly placeholder="Default input">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>

                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Agregar un archivo
                        </button>
                        <!-- MODAL AGREGAR MATERIAL -->
                        <form method="POST" action="{% url 'agregarMaterial' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                                
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center" id="exampleModalLabel">
                                                Agregar un archivo
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input required type="text" name="nombre_material" class="form-control" placeholder="Nombre del archivo" autocomplete="off">
                                            </div>
                                            <p>El archivito va aquí xd</p>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input required name="archivo" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                                    <label class="custom-file-label" for="inputGroupFile04">Archivo aqui</label>
                                                </div>
                                            </div>
                                            <select name="seccion_id" >
                                                {% for seccion in curso.seccion_curso.all %}
                                                    <option value="{{seccion.pk}}">{{seccion.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                            <input name='curso_id' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                            value="{{curso.id}}" readonly placeholder="Default input">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarEntregable">
                            Agregar un entregable
                        </button>
                        <!-- MODAL AGREGAR ENTREGABLE -->
                        <form method="POST" action="{% url 'agregarEntregable' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                                
                            <div class="modal fade" id="agregarEntregable" tabindex="-1" aria-labelledby="agregarEntregableLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="agregarEntregableLabel">
                                            Agregar un entregable
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input required type="text" name="nombre_entregable" class="form-control" placeholder="Nombre del entregable" autocomplete="off">
                                        </div>
                                        <p>El archivito va aquí xd</p>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input required name="archivo" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                                <label class="custom-file-label" for="inputGroupFile04">Archivo aqui</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input required type="text" name="comentario" class="form-control" placeholder="Comentario sobre la asignación" autocomplete="off">
                                        </div>
                                        <input required type="date" name="date">
                                        <input required type="time" name="time">
                                        <select name="seccion_id" >
                                            {% for seccion in curso.seccion_curso.all %}
                                                <option value="{{seccion.pk}}">{{seccion.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <input name='curso_id' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                        value="{{curso.id}}" readonly placeholder="Default input">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarForo">
                            Añadir un nuevo tema de debate
                        </button>
                        <!-- MODAL AGREGAR FORO -->
                        <form method="POST" action="{% url 'agregarForo' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Modal -->
                            <div class="modal fade" id="agregarForo" tabindex="-1" aria-labelledby="agregarForoLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="agregarForoLabel">
                                            Agregar un Foro
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input required type="text" name="nombre_foro" class="form-control" placeholder="Nombre del foro" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input required type="text" name="asignacion_foro" class="form-control" placeholder="Asignación del foro" autocomplete="off">
                                        </div>
                                        <input required type="date" name="date">
                                        <input required type="time" name="time">
                                        <p>Fecha limite de foro</p>
                                        <select name="seccion_id" >
                                            {% for seccion in curso.seccion_curso.all %}
                                                <option value="{{seccion.pk}}">{{seccion.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <input name='curso_id' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                        value="{{curso.id}}" readonly placeholder="Default input">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <hr>

                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarEstudiantesCurso">
                            Agregar estudiante al curso
                        </button>
                        <!-- MODAL AGREGAR FORO -->
                        <form method="POST" action="{% url 'agregarEstudiantesCurso' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Modal -->
                            <div class="modal fade" id="agregarEstudiantesCurso" tabindex="-1" aria-labelledby="agregarEstudiantesCurso" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="agregarEstudiantesCurso">
                                            Agregar estudiante
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input required type="text" name="username" class="form-control" placeholder="Username del estudiante" autocomplete="off">
                                        </div>
                                        <input name='curso_id' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                        value="{{curso.id}}" readonly placeholder="Default input">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}