{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block title %}
    PortAll50
{% endblock %}

{% block css %}
    
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h5>Asignación</h5>
                <div class="alert alert-primary" role="alert">
                    <a href="{{entregable.archivo.url}}"><i class="far fa-file-alt"></i> {{entregable.nombre_entregable}}</a>
                </div>
                <div class="alert alert-secondary" role="alert">
                    <p>Comentario de la asignación: {{entregable.comentario}}</p>
                </div>
                {% if now > entregable.tiempo_disp_hasta %}
                    <div class="alert alert-danger" role="alert">
                        Fecha limite de entrega: {{entregable.tiempo_disp_hasta}}
                    </div>
                {% else %}
                    <div class="alert alert-secondary" role="alert">
                        Fecha limite de entrega: {{entregable.tiempo_disp_hasta}}
                    </div>
                {% endif %}
                <div class="alert alert-light" role="alert">
                    <p>Nota del entregable: {{entregable.nota}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <h5>Subir entrega</h5>
                <form method="POST" action="{% url 'agregarEntrega' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="custom-file">
                            <input required name="archivo_entrega" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                            <label class="custom-file-label" for="inputGroupFile04">Archivo entrega aqui</label>
                        </div>
                        <input name='id_entregable' class="form-control" style="background: transparent;  border: none;" type="hidden"
                        value="{{entregable.id}}" readonly placeholder="Default input">
                        <input name='id_cuenta' class="form-control" style="background: transparent;  border: none;" type="hidden"
                        value="{{user.id}}" readonly placeholder="Default input">
                    </div>
                
                    {% if user.info_cuenta.tipo == "2" %}
                        <button type="button" class="btn btn-primary mt-2">Docente</button>
                    {% else %}
                        {% if envio.estado_entrega == "1" %}
                            <button type="button" class="btn btn-primary mt-2">Entrega realizada</button>
                        {% else %}
                            <button type="submit" class="btn btn-success mt-2">Enviar entrega</button>
                        {% endif %}
                        {% if not envio %}
                            <button type="submit" class="btn btn-success">Enviar entrega</button>                
                        {% endif %}
                    {% endif %}
    
                </form>
            </div>
            <div class="col-lg-5">
                {% if user.info_cuenta.tipo == "2" %}
                    <h5>Ver entregas hechas</h5>
                    {% for entre in entregas %}
                        <div class="card">
                            <div class="card-body">
                                <a target="_blank" href="{{entre.archivo_entrega.url}}"><i class="far fa-file-alt"></i> {{entre.archivo_entrega}}</a>
                                <p>{{entre.tiempo_entregado}}</p>
                                <p>Entregado por: {{entre.cuenta.username}}</p>
                                {% if entre.nota %}
                                    <p>Nota: {{entre.nota}}</p>
                                {% endif %}

                                <div>
                                    {% if entre.estado_entrega == "0" %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#calificarEntrega{{entre.id}}">Calificar entrega</button>
                                    {% else %}
                                        <button type="button" class="btn btn-success">Calificado</button>
                                    {% endif %}

                                    <form method="POST" action="{% url 'calificarEntrega' %}" enctype="multipart/form-data">
                                    {% csrf_token %}

                                        <div class="modal fade" id="calificarEntrega{{entre.id}}" tabindex="-1" aria-labelledby="calificarEntrega" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center" id="calificarEntrega">
                                                            Calificar una entrega
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <input required type="decimal" name="nota" class="form-control" placeholder="Nota de la entrega" autocomplete="off" min=0 max=100>
                                                        </div>
                                                        <input name='id_entrega' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                                        value="{{entre.id}}" readonly placeholder="Default input">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <button type="submit" class="btn btn-primary">Guardar calificación</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% endif %}
                {% if user.info_cuenta.tipo == "1" %}
                    {% if envio.tiempo_entregado %}
                        <a target="_blank" href="{{envio.archivo_entrega.url}}"><i class="far fa-file-alt"></i> {{envio.archivo_entrega}}</a>
                        <p>{{envio.tiempo_entregado}}</p>

                        <div>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editarEntregable">Editar entrega</button>

                            <form method="POST" action="{% url 'editarEntregable' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                                <div class="modal fade" id="editarEntregable" tabindex="-1" aria-labelledby="editarEntregable" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="editarEntregable">
                                                    Editar entrega
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="custom-file">
                                                    <input required name="archivo_entrega" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                                    <label class="custom-file-label" for="inputGroupFile04">Nuevo archivo entrega aqui</label>
                                                </div>
                                                <input name='id_entregable' class="form-control" style="background: transparent;  border: none;" type="hidden"
                                                value="{{envio.id}}" readonly placeholder="Default input">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Subir entrega</button>
                                            </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    

                    {% if envio.nota %}
                        <p>Nota: {{envio.nota}}</p>
                    {% endif %}
                {% endif %}
                {% if not envio %}
                    <p>Todavía no se ha realizado una entrega</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}