{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block title %}
    Foro
{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-title card-header">{{foro.nombre_foro}}</div>
                        <div class="card-body">
                            <p class="card-text"><p>{{foro.asignacion_foro}}</p>
                            <p>Vence el: {{foro.fecha_vencimiento}}</p>
                            <p>Nota del foro: {{foro.nota}}</p>
                        </div>
                    </div>

                    {% if now > foro.fecha_vencimiento %}
                        <div class="alert alert-danger" role="alert" style="max-width: 18rem;">
                            Fecha limite de entrega: {{foro.fecha_vencimiento}}
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert" style="max-width: 18rem;">
                            Fecha limite de entrega: {{foro.fecha_vencimiento}}
                        </div>
                    {% endif %}

                    {% if user.info_cuenta.tipo == "2" %}
                            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                <div class="card-title card-header">Calificar un estudiante</div>
                                    <div class="card-body">
                                        {% for estudiante in curso.cuentas.all %}
                                            {% if estudiante.username != user.username %}
                                                <p><a href="{% url 'calificarForo' foro.id estudiante.id %}"><i class="far fa-user"></i> {{estudiante.username}}</a></p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                            </div>
                    {% endif %}
            </div>
            <div class="col-lg-4">
                {% for respuesta in respuestasForo %}
                    {% if respuesta.cuenta.username == user %}
                        <div class="card w-95 border-primary">
                            <div class="card-header">
                                Respuesta a: {{foro.nombre_foro}}
                            </div>
                            <div class="card-body">
                                <div class="circulo">
                                    <img class="imagen" src="{{respuesta.cuenta.imagen.url}}" class="card-img-top">
                                </div>
                                <p class="card-title"><p>De: <b>{{respuesta.cuenta.username}}</b> - {{respuesta.fecha_respuesta}}</p>
                                <p class="card-text border">{{respuesta.respuesa_foro}}</p>
                                {% if respuesta.nota %}
                                    <span class="badge badge-info">Nota: {{respuesta.nota}}</span>
                                {% else %}
                                    <a href="{% url 'editarRespuestaForo' respuesta.id foro.id %}"><i class="fas fa-pencil-alt"></i> Editar respuesta</a>
                                    <span class="badge badge-secondary">Sin calificar</span>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card w-95">
                            <div class="card-header">
                                Respuesta a: {{foro.nombre_foro}}
                            </div>
                            <div class="card-body">
                                <div class="circulo">
                                    <img class="imagen" src="{{respuesta.cuenta.imagen.url}}" class="card-img-top">
                                </div>
                                <p class="card-title"><p>De: <b>{{respuesta.cuenta.username}}</b> - {{respuesta.fecha_respuesta}}</p>
                                <p class="card-text border">{{respuesta.respuesa_foro}}</p>
                                {% if respuesta.nota %}
                                    <span class="badge badge-info">Nota: {{respuesta.nota}}</span>
                                {% else %}
                                    <span class="badge badge-secondary">Sin calificar</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}   
                    <br>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <form method="POST" action="{% url 'respuestaForo' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Responder al foro</label>
                            <textarea required name="respuesa_foro" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                        <input name='id_foro' class="form-control" style="background: transparent;  border: none;" type="hidden"
                        value="{{foro.id}}" readonly placeholder="Default input">
                        <input name='id_cuenta' class="form-control" style="background: transparent;  border: none;" type="hidden"
                        value="{{user.id}}" readonly placeholder="Default input">
                    </div>
                    {% if respondio == 0 %}
                        <button type="submit" class="btn btn-success">Subir respuesta</button>
                    {% else %}
                        <button type="button" class="btn btn-primary">Ya has respondido</button>
                    {% endif %}        
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}