{% extends 'home.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
    <script>
        window.location.replace("/portall");
    </script>
    {% endif %}

    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-box">
                        <h1>PortAll50</h1>
                        <p style="text-align: justify;">Gestiona la creación e inscripción de cursos para estudiantes, permitiendo al profesorado dar seguimiento al aprendizaje y evaluación de los estudiantes</p>
                        <p style="text-align: justify;">
                            Incia sesión con una cuenta como docente o como estudiante, las cuentas de docente permite crear cursos, gestionar y visualizar los distintos cursos creados por el docente, agregar estudiantes a los cursos creados por el, donde el docentes puede proveer archivos didácticos, compartir enlaces externos para complementar información sobre los temas a aprender, abrir foros de debate sobre algún tema, colocar tareas a para entregar por los estudiantes, cuestionarios y una sección de chat para consultas entre el docente y los estudiantes que pertenezcan al mismo curso.
                        </p>
                        <a href="{% url 'register' %}" class="btn-One">Crear una cuenta</a>
                        <a href="{% url 'login' %}" class="btn-Two">Iniciar sesión</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'img/studying.png' %}" class="feature-img">
                </div>
            </div>
        </div>
    </div>
{% endblock %}