{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- title name -->
    <title>{% block title %}{% endblock %}</title>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/pizza.png' %}">

    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    {% block css %}
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/portall">PortAll50</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="#"> User: {{ user.username }} </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
                </ul>
        </div>
    </nav>
</nav>
    {% endif %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <main class="container ">
        {% block main %}{% endblock %}
    </main>
</body>
</html>