{% extends 'registration.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block title %}
    Iniciar sesión
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block main %}
    <!--
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Your username and password didn't match. Please try again.
    </div>
    {% endif %}
    -->
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                
            </div>
            <div class="col-lg-4 formulario">
                <h1 class="text-center blanco">Iniciar sesión</h1>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <input placeholder="Nombre de usuario" name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <input placeholder="Contraseña" name="password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        </div>
                    <input type="submit" value="Log in" class="btn btn-primary" />
                    <a role="button" class="btn btn-success" href="{% url 'register' %}">Create an account</a>
                    <small class="form-text text-muted">Log in or create an account if you don't have one yet</small>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
            <div class="col-lg-4">
    
            </div>
        </div>
    </div>

{% endblock %}